body {
    background-color:rgb(107, 91, 177);

}
h1{
    color: white;
    text-align: center;
    font-size: 400%;
}
p{
    text-align: center;
    color: white;
    font-size: 150%;


}

.button {
    border-color:white;
    background-color:rgb(107, 91, 177);
    padding: 13px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 840px;
    cursor: pointer;
  }

.mainDiv{
    height:320px;
    width: 1200px; 
    margin-left: 9cm;
    margin-top: 1cm;
    /* border: 5px outset red; */
    /* background-color: lightblue; */
    text-align: center;
    
   
}
.column{
    margin-left:7ch;
    float: left;
    height:310px;
    width: 310px;
    /* border: 5px outset black; */

}
.A{
    height: 320px;
    width: 320px;
}
h2{
    color: white;
}
.pr{
    color:aliceblue;
    font-size: 120%;
}
.s{
    font-size: 190%;
    color: white;

}
.d{
    height:80px;
    width: 1800px; 
    /* margin-left: 9cm; */
    /* margin-top: 1cm; */
    border: 5px outset red;
    background-color: lightblue;
}